<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.macdems.planactivator" android:versionCode="1" android:versionName="0.1">
	<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="4"></uses-sdk>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PRIVILEGED"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="PlanEditActivity"></activity>
		<receiver android:name="ActivateEvent"></receiver>
		<receiver android:name="AlarmSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
		
	</application>
</manifest>